<!DOCTYPE html>
<html>
<head>
    <title>Editar Membro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'membros/css/estilo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Editar Membro</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
            <button type="button" onclick="window.location.href='{% url 'listar_membros' %}'">Voltar</button>
        </form>
    </div>
</body>
</html>